@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* font-family: 'Hanalei Fill', cursive; */

body{
    background-color: rgba(152, 233, 159, 0.637);
    transition: all 0.8s;
}
nav.navbar{
    background-color: rgba(241, 190, 113, 0.568);
    color:darkblue;
    padding: 20px;
}
.navbar-brand h3{
    /* background-color: ; */
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    transition: all 0.8s;
}
.navbar-brand h3:hover{
    color: forestgreen;
}
.navbar .collapse ul li a{
    background-color: rgba(241, 171, 91, 0.233);
    /* font-weight: bold; */
    display:inline-block;
    color: #0000;
    font-size: 16px;
    /* margin-left: 15px; */
    /* padding: 5px ; */
    /* border: 1px solid rgba(245, 229, 141, 0.37); */
    border-radius: 8px;
}